/* MAIN FONT */
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');  
/* --- --- */

/* IMPORT - VARIABLES CSS */
@import '/css/components/vars.css';
/* --- --- */

/* RESET BODY */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}
/* --- --- */

/* BODY PAGE */
body{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;

    height: 100vh;

    background: var(--background-page);
}

/* IMPORT - MAIN CONTENT */
@import '/css/components/main_con.css';
/*  */


/* STYLE PANEL(CHILD's MAIN CONTENT) CHK AND RES */
.sty-pnl-chk-res{
    width: 100%;
    height: 100%;

    background-color: var(--light-gray);

    box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px, rgb(0 0 0 / 10%) 0px 8px 16px;

    border-radius: 10px;
}
/*  */


/* IMPORT - SWITCH(TOGGLE MODE) CSS */
@import '/css/components/sw_btn.css';
/*  */