/* MAIN FONT */
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');  
/* --- --- */

/* IMPORT - VARIABLES (COLORS ETC...) CSS */
@import '/css/components/vars.css';
/* --- --- */

/* RESET BODY */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}
/* --- --- */

/* BODY PAGE */
body{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;

    height: 100vh;

    background: var(--background-page);
}

/* IMPORT - MAIN CONTENT (ALL CONTENT) CSS */
@import '/css/components/main_con.css';
/*  */

/* IMPORT - STYLE PANEL (CHECK AND RESULT) CSS */
@import '/css/components/sty_pnl_chk_res.css';
/*  */



/* IMPORT - SWITCH (TOGGLE MODE) CSS */
@import '/css/components/sw_btn.css';
/*  */