
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

:root{
    --color-01: #222831;
    --color-02: #393E46;

    --color-03: #00ADB5;
    
    --color-04: #EEEEEE;

    --dark-background: linear-gradient(to bottom, var(--color-02),var(--color-01));
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    height: 100vh;

    background: var(--dark-background);
    background-size: 300% 300%;
}

#form-search{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 400px;
    height: 50px;

    background-color: var(--color-04);

    border-radius: 10px;
}

.input-search-cep{
    width: 100%;
    height: 100%;

    background: none;

    outline: none;
}