
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

:root{
    --color-gray-01: #313131;
    --color-gray-02: #414141;
    --color-gray-03: #525252;
    
    --color-purple-01: #393646;
    --color-purple-02: #4F4557;
    --color-purple-03: #6D5D6E;

    --color-red-01: #CA3E47;

    --color-white-01: white;
    --color-white-02: #cacaca;
    --color-white-03: #a8a8a8;
    --color-white-04: #969696;

    --dark-background: linear-gradient(to bottom, var(--color-gray-03),var(--color-gray-02),var(--color-gray-01));
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    height: 100vh;

    background: var(--dark-background);
    background-size: 300% 300%;
}

#form-search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: 480px;
    height: 200px;

    background-color: var(--color-white-03);

    box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px, rgb(0 0 0 / 10%) 0px 8px 16px;

    border-radius: 10px;

    gap: 5px;
}

.input-search-cep{
    width: 80%;
    height: 30%;

    background: none;

    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0);

    outline: none;

    font-size: 0.9em;

    background-color: var(--color-white-02);

    box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px, rgb(0 0 0 / 10%) 0px 8px 16px;

    padding: 1em;
}
.input-search-cep:focus{
    background-color: var(--color-white-02);
    border: 2px solid var(--color-gray-01);
    border-radius: 10px;
}
.input-search-cep::placeholder{
    color: var(--color-gray-01);
}
#form-search > button{
    width: 12%;
    height: 30%;

    background-color:var(--color-white-04);

    box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px, rgb(0 0 0 / 10%) 0px 8px 16px;

    border: 2px solid var(--color-gray-01);

    border-radius: 10px;
}
ion-icon {
    color: var(--color-white-01);
    width: 100%;
    height: 100%;
    opacity: 0.7;
  }