
/* PANEL_FORM_CHECK_CEP (CONTENT FORM) */
/* ///// ///// */

/* PANEL_FORM_CHECK_CEP */
#pnl-frm-cnt{
    width: 700px;
    height: 580px;

    background-color: var(--light-gray);

    box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px, rgb(0 0 0 / 10%) 0px 8px 16px;

    border-radius: 10px;
}
/* ///// ///// */