
/* SECTION_CONTENT_FORM (SEC_FRM_CHK_CEP */
/* ///// ///// */

/* SECTION_FORM_CHECK_CEP */
#sec-frm-chk{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 480px;

    padding: 20px 0;
}
/* ///// ///// */

/* STYLE H2 TITLE_SECTION */
#sec-frm-chk > p{
    padding: 0 20px;

    text-align: start;

    word-break: break-word;

    font-size: 16px;
    font-weight: 600;

    color: var(--navy);

    font-family: 'Maven Pro', sans-serif;

}
/* ///// ///// */