
/* FORM_CONTENT_CHECK_CEP (FRM_CNT_CHK_CEP)*/
/* ///// ///// */

/* FORM_CONTENT_CHECK_CEP */
#frm-chk-cep{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;

    width: 500px;
    height: 200px;

}
/* ///// ///// */

#frm-chk-cep > p{
    text-align: center;

    /* left: 0px; */
}