
/* FORM_CONTENT_CHECK_CEP (FRM_CNT_CHK_CEP)*/
/* ///// ///// */

/* FORM_CONTENT_CHECK_CEP */
#frm-chk-cep{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 500px;
    height: 300px;

}
/* ///// ///// */

/* STYLE_LABEL (LABEL) */
#frm-chk-cep > label{
    width: 380px;

    font-size: 0.9em;
    font-weight: 700;

    color: var(--navy);
}
/* /// /// */