
/* BUTTON SWITCH ALL CONTENT  */
/* ///// ///// */

/* SWITCH_CONTENT_CHK (DIV CONTENT) */
#sw-frm-md{
    display: flex;

    position: absolute;

    width: 64px;
    height: 32px;

    margin-top: 8px;

    top: 0;
    right: 0;

    cursor: pointer;
}
#sw-frm-md:hover{
    transform: scale(1.1);
}
/* ///// ///// */


/* SWITCH_BUTTON_CHK (BUTTTON CONTENT) */
#sw-btn{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    transform: translateY(-50%);
    
    width: 24px;
    height: 24px;
    
    left: 0px;
    top: 38%;

    cursor: pointer;

    background-color: var(--gray-blue);

    border: 1px solid var(--navy);
    border-radius: 30px;

    user-select: none;
}
/* ///// ///// */


/* SWITCH_IMAGE (ITEM IMAGE) */
#sw-img{
    width: 100%;
    height: 100%;
}
/* ///// ///// */


/* SWITCH_SPAN */
#sw-frm-md > span{
    display: block;

    width: 50px;
    height: 24px;

    border-radius: 30px;
    border: 1px solid var(--navy);

    background: linear-gradient(to right, var(--gray-blue),var(--smooth-blue));

    box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px, rgb(0 0 0 / 10%) 0px 8px 6px;
}
/* ///// ///// */
