:root{

    --cold: #F4EEFF;
    --light-gray: #DCD6F7;
    --gray-blue: #A6B1E1;
    --smooth-blue: #b6c0ec;
    --navy: #424874;
    --smooth-navy: #4f568a;

    --background-page: linear-gradient(to bottom, var(--cold),var(--light-gray));
}