
/* MAIN CONTAINER - ALL CONTENT FROM PAGE */
#main-ctn{
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 100%;

    gap: 30px;
}
/* ///// ///// */
