
/* MAIN CONTAINER - ALL CONTENT FROM PAGE */
#main-con{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 100%;

    gap: 10px;
}
/* ///// ///// */

/* CENTRALIZE MAIN_HEADER (MAIN_HEADER) */
#main-con:first-child{
    justify-content: flex-start;
}
/* ///// ///// */
