
/* HEADER_CONTENT (HDR_FRM_CHK_CEP */
/* ///// ///// */

/* HEADER_FORM_CHECK_CEP */
#hdr-frm-chk-cep{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100px;

    position: relative;

    /* margin-top: 20px; */
}
/* ///// ///// */

/* STYLE H1 (TITLE PANEL_PAGE) */
#hdr-frm-chk-cep > h1{
    text-align: center;

    /* position: absolute; */

    font-size: 30px;
    font-weight: 700;

    color: var(--navy);

    /* top: 10px; */
}
/* ///// ///// */

/* STYLE HR (TO DIVIDE TITLE FROM CONTENT) */
#hdr-frm-chk-cep > hr{
    width: 480px;
    
    border: 1px solid var(--smooth-blue);
}
/* ///// ///// */