
/* INPUT_BUTTON_CONTENT_CHECK_CEP (INP_BTN_CNT_CHK_CEP) */
/* ///// ///// */


/* INPUT_BUTTON_CHECK_CEP (DIV) */
#inp-btn-cnt-chk-cep{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    /* gap: 10px; */
}
/* ///// ///// */


/* INPUT_CHECK_CEP (INPUT) */
#inp-chk-cep{
    width: 280px;
    height: 50px;

    font-size: 0.9em;
    font-weight: 700;

    background-color: var(--cold);

    color: var(--navy);

    box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px, rgb(0 0 0  / 10%) 0px 8px 16px;

    border: 2px solid var(--gray-blue);
    border-radius: 0.5rem 0px 0px 0.5rem;
}
/* ///// ///// */


/* INPUT_BUTTON_CONTENT_CHECK_CEP (GET BUTTON) */
#inp-btn-cnt-chk-cep > button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100px;
    height: 50px;

    background-color: var(--navy);

    box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px, rgb(0 0 0  / 10%) 0px 8px 16px;

    border: 2px solid var(--gray-blue);
    border-radius: 0px 0.5rem 0.5rem 0px;

    transition: all 200ms ease, backgroud 200ms ease-in-out;

    cursor: pointer;
}
/* ///// ///// */


/* ION-ICON (ICON FROM BUTTON SUBMIT) */
img{
    width: 40px;
    height: 40px;

    color: var(--cold);
    /* opacity: 0.75; */
}
/* ///// ///// */
