
/* SECTION_CONTENT_FORM (SEC_FRM_CHK_CEP */
/* ///// ///// */

/* SECTION_FORM_CHECK_CEP */
#sec-frm-chk{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
    position: relative;

    height: 500px;

}
/* ///// ///// */

/* STYLE H2 TITLE_SECTION */
#sec-frm-chk > h2{
    text-align: center;
    
    position: absolute;

    font-size: 28px;
    font-weight: 700;

    color: var(--navy);

    top: 30px;
}
/* ///// ///// */