
/* HEADER_CONTENT (HDR_FRM_CHK_CEP */
/* ///// ///// */

/* HEADER_FORM_CHECK_CEP */
#ttl-frm-chk-cep{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100px;

    position: relative;
}
/* ///// ///// */

/* STYLE H1 (TITLE PANEL_PAGE) */
#ttl-frm-chk-cep > h1{
    text-align: center;

    font-size: 30px;
    /* font-weight: 700; */

    color: var(--navy);

    font-family: 'Tomato Round Condensed Oblique', sans-serif;
}
/* ///// ///// */

/* STYLE HR (TO DIVIDE TITLE FROM CONTENT) */
#ttl-frm-chk-cep > hr{
    width: 480px;
    
    border: 1px solid var(--smooth-blue);
}
/* ///// ///// */