
/* ITEM_RESULT_CHECKED (DIV RESULT CONTENT) */
/* ///// ///// */

/* ITEM_CONTENT_RESULT_CHECKED (DIV) */
#itm-cnt-res-chkd{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 480px;
    height: 400px;
    
    box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px, rgb(0 0 0  / 10%) 0px 8px 16px;

    border: 2px solid var(--smooth-blue);
    border-radius: 0.5rem;
}
/* ///// ///// */

/* ITEM_UL_RESULT_CHECKED (UL) */
#itm-ul-res-chkd{
    display: flex;
    align-items: center;
    flex-direction: column;

    list-style: none;

    overflow-y: auto;

    width: 100%;
    max-height: 380px;

    margin: 0;
    padding: 0;

    gap: 5px;

}
/* ///// ///// */

/* ITEM_UL_LI_RES_CHECKED (LI FIXED AND LI RELATIVE DISABLED) */
#itm-li-f-res-chkd, #itm-li-r-res-chkd{
    display: none;
}
/* ///// ///// */

/* ITEM_UL_RESULT_CHECKED (LI FIXED ACTIVED) */
#itm-li-f-res-chkd.visible{
    display: flex;
    align-items: center;
    justify-content: space-around;

    font-size: 12px;

    width: 90%;
    height: 100%;

    box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px, rgb(0 0 0  / 10%) 0px 8px 16px;

    border: 2px solid var(--gray-blue);
    border-radius: 0.5rem;
}
/* ///// ///// */


/* ITEM_UL_RESULT_CHECKED (LI RELATIVE) */
#itm-li-r-res-chkd.visible{
    display: flex;
    align-items: center;
    justify-content: space-around;

    font-size: 12px;

    width: 90%;
    height: 100%;

    box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px, rgb(0 0 0  / 10%) 0px 8px 16px;

    border: 2px solid var(--gray-blue);
    border-radius: 0.5rem;

    /* padding: 10px 0; */
}
/* ///// ///// */

/* ITEM_UL_RESULT_CHECKED (LI > DIV) */
#itm-ul-res-chkd > li > div{
    display: flex;
    flex-direction: column;

    gap: 5px;

    height: 100%;
}
/* ///// ///// */

/* ITEM_UL_RESULT_CHECKED (H4) */
.ttl-lbl-res-chkd{
    margin-bottom: -8px;

    font-weight: 700;

    color: var(--smooth-navy);
}
/* ///// ///// */

/* ITEM_UL_RESULT_CHECKED (H3) */
.sty-h3-itm-res-chkd{
    /* font-weight: 700; */

    color: var(--navy);
}
/* ///// ///// */