
/* PANEL_RESULT_CEP_ANDDRESS (PANEL CONTENT) */
/* ///// ///// */

/* PANEL_RESULT_CEP_ANDDRESS (PANEL) */
#pnl-res-cep-address{
    display: none;
    flex-direction: column;

    width: 700px;
    /* height: 580px; */
}
/* ///// ///// */