
/* MAIN_HEADER_CONTENT (DIV CONTENT) */
/* ///// ///// */

/* MAIN_HEADER_CONTENT (HEADER) */
#main-hdr-pg{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column;  */
    
    width: 100%;
    height: 100px;

    position: absolute;
    top: 0;

    background-color: var(--smooth-navy);

    box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px, rgb(0 0 0  / 10%) 0px 8px 16px;

    border-radius: 0px 0px 30% 30%;

    gap: 2px;
}
/* ///// ///// */

/* MAIN_TITLE_HEADER (MAIN_TITLE_HDR) */
#main-title-hdr{
    text-align: center;

    font-family: 'Story Night', sans-serif;

    font-size: 60px;
    /* font-weight: 700; */

    color: var(--smooth-blue);

    /* z-index: 1; */
}
/* ///// ///// */

/* ICON_HEADER (IMAGE) */
#main-hdr-pg > img{

    width: 64px;
    height: 64px;

    background-color: var(--navy);

    box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px, rgb(0 0 0  / 10%) 0px 8px 16px;

    border-radius: 50% 20% / 10% 40%;

    opacity: 0.7;
}
/* ///// ///// */
