
/* ITEM_RESULT_CHECKED (DIV RESULT CONTENT) */
/* ///// ///// */

/* ITEM_CONTENT_RESULT_CHECKED (DIV) */
#itm-cnt-res-chkd{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 450px;
    height: 400px;
    
    box-shadow: rgb(0 0 0 / 10%) 0px 2px 4px, rgb(0 0 0  / 10%) 0px 8px 16px;

    border: 2px solid var(--smooth-blue);
    border-radius: 0.5rem;
}
/* ///// ///// */

/* ITEM_UL_RESULT_CHECKED (UL) */
#itm-ul-res-chkd{
    list-style: none;
}
/* ///// ///// */

/* ITEM_UL_RESULT_CHECKED (LI) */
#itm-ul-res-chkd > li{
    display: flex;
    align-items: center;

    gap: 10px;

    font-size: 12px;
}
/* ///// ///// */
