
/* HEADER_RESULT_CHECKED_CEP (ALL CONTENT) */
/* ///// ///// */

/* HDR_RES_CHKD_CEP (HEADER) */
#ttl-res-chkd-cep{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100px;
}
/* ///// ///// */

/* STYLE H1 (TITLE PANEL_PAGE) */
#ttl-res-chkd-cep > h1{
    text-align: center;

    font-size: 30px;
    font-weight: 700;

    color: var(--navy);
}
/* ///// ///// */

/* STYLE HR (TO DIVIDE TITLE FROM CONTENT) */
#ttl-res-chkd-cep > hr{
    width: 380px;

    border: 1px solid var(--smooth-blue);
}
/* ///// ///// */